node_modules
dist
dist-ssr
*.local
.vite

# Video-Transkripte (Copyright Finanztip / Finanzfluss — nur lokal als Referenz)
Finanztipp.md
Finanztipp.txt
Finanzfluss.md
Finanzfluss.txt

# Claude Code
.claude/settings.local.json

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage
